  
   {{#if returnedResult}}

        <h1>Is this the artist you were searching for:</h1>

       <div id="results"> 

    {{#each returnedResult}}


    <div id="indResult">
    <img src="{{images.1.url}}">
        <div class="indResultBottom">

    <a class="bandName" href="{{external_urls.spotify}}">{{name}}</a>
    
    <a class="viewAlbumsButton" href="/albums/{{id}}">View Albums</a>
    </div>

    
    </div>

    {{/each}}

    {{else}}

    <h2>Sorry we cannot find an artist with that information</h2>

    {{/if}}

    </div>